<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProjectCars.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ProjectCars.Properties.Settings>
            <setting name="connectionType" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ipAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="port" serializeAs="String">
                <value>5606</value>
            </setting>
        </ProjectCars.Properties.Settings>
    </userSettings>
</configuration>